body {
    margin: 0;
    width: 100vw;
    margin-top: auto; 
}

.footer-container {
    background-color: #ff665a;
    color: #003e4a;
    font-size: 16px;
    padding: 16px;
    align-items: center;
    overflow: hidden;

    p {
        text-align: center;
        font-weight: bold;
        font-family: 'Parisienne', cursive;
        font-size: 25px;
        margin-top: 5px;
    }
}

.footer-rights {
    justify-content: center;
}

.footer-links {
    margin-left: 60px; 
    a {
        text-decoration: none;
        color: #003e4a;
        margin-right: 8px;
        margin-left: 8px;
        transition: all 0.8s;

        &:hover {
            color: #fffc87;
        }
    }
}

.github-img {
    object-fit: cover;
    justify-content: center;
    margin-top: 20px;

    a {
        cursor: pointer;
    }
        img {
            width: 40px;
        }
}

@media (max-width: 580px) {
    .footer-container {
        font-size: 13px;
    }  

    p {
        font-size: 22px !important;
    }
}

@media (max-width: 475px) {
    .footer-rights {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 15px;
        line-height: 23px;;
    }

    .footer-links {
        margin-left: 0px; 
    }

}

@media (max-width: 400px) {
    .github-img{
        img{
            width: 35px; 
        }
    }

}