
<style>
    @import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
    </style>
    
<div class="footer-container montserrat">

   <p>Crafted by ❤</p> 

    <div class="footer-rights d-flex">
        <div> © 2021 Yvonne Gamböck </div>
        <div class="footer-links">
            <a routerLink="/imprint">Imprint</a> &bull;
            <a routerLink="/data-protection">Data Protection</a>
        </div>
    </div>

  <div class="github-img d-flex"><a href="https://github.com/YvonneGam" target="_blank"><img src="assets/img/GitHub-Mark-64px.png"></a></div>
  
</div>