.body {
    scroll-behavior: smooth;
}

.about-me-container {
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.text-about {
    font-size: 0.9rem;
    margin-bottom: 75px;
    line-height: 1.2rem;
}

.about-me-text {
    width: 50%;
}

.img-me {
    width: 220px;
    height: 300px;
    object-fit: cover;
}

.img-square {
    width: 230px;
    top: 1160px;
    right: 380px;
}

.saying {
    font-size: 30px;
    top: 1220px;
    right: 423px;
    font-family: "Prata", serif;
    font-weight: bold;
    transition: 0.5s;
    letter-spacing: 3px;

    &:hover {
        color: #fffc87;
        text-shadow: 0 0 10px #fffc87, 0 0 40px #fffc87, 0 0 80px #fffc87;
    }
}
.square-saying {
    background-image: url("/assets/img/square-yellow.png");
    object-fit: cover;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

//Responsive Design about-me component

@media (max-width: 1400px) {
    .about-me-container {
        margin-left: 10%;
        margin-right: 10%;
    }

    .img-square {
        right: 220px;
        top: 850px;
    }

    .saying {
        top: 910px;
        right: 260px;
    }
}

@media (max-width: 1105px) {
    .img-square {
        top: 1230px;
    }

    .saying {
        top: 1285px;
    }
}

@media (max-width: 1000px) {
    .saying {
        font-size: 26px;
        top: 1312px;
        right: 255px;
    }

    .img-square {
        width: 200px;
        top: 1255px;
    }
}

@media (max-width: 930px) {
    .img-me {
        width: 200px;
    }

    .img-square {
        right: 190px;
        top: 1270px;
    }

    .saying {
        right: 225px;
        top: 1323px;
    }
}

//Skills

.skills-container {
    margin-top: 60px;
    background-image: url("../../assets/img/code-4333398_1280.jpg");
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
}

.skills-input {
    margin-left: 15%;
    margin-right: 15%;
}

.background-img {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 500px;
    width: 100%;
    object-fit: cover;
    margin-top: -20px;
    overflow: hidden;
    top: 2200px;
    z-index: -3;
}

.skill-img-container {
    width: 65%;
    flex-wrap: wrap;
    margin-top: 2rem;

    img {
        width: 70px;
        height: 70px;
        margin-right: 25px;
        margin-bottom: 25px;
    }
}

p {
    color: #e3e9ec;
    text-align: center;
    font-size: 12.5px;
    font-weight: bold;
}

.icon-bu {
    margin-right: 25px;
    margin-bottom: 15px;
}

.imgLink-angular {
    background: url("../../assets/img/angular-original.png");
    background-size: cover;
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
    display: block;

    &:hover {
        img {
            display: none;
        }
    }
}

.imgLink-js {
    background-image: url("../../assets/img/JavaScript-original.png");
    background-size: cover;
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
    display: block;

    &:hover {
        img {
            display: none;
        }
    }
}

.imgLink-css {
    background-image: url("../../assets/img/CSS-original.png"); //("../../assets/img/CSS-original.png")
    background-size: cover;
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
    display: block;

    &:hover {
        img {
            display: none;
        }
    }
}

.imgLink-html {
    background-image: url("../../assets/img/HTML-original.png");
    background-size: cover;
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
    display: block;

    &:hover {
        img {
            display: none;
        }
    }
}

.imgLink-id {
    background: url("../../assets/img/InDesign-original.png");
    background-size: cover;
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
    display: block;

    &:hover {
        img {
            display: none;
        }
    }
}

.imgLink-ps {
    background-image: url("../../assets/img/Photoshop-originl.png");
    background-size: cover;
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
    display: block;

    &:hover {
        img {
            display: none;
        }
    }
}

.imgLink-ai {
    background-image: url("../../assets/img/Illustrator-original.png");
    background-size: cover;
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
    display: block;

    &:hover {
        img {
            display: none;
        }
    }
}

//Responsive

@media (max-width: 1400px) {
    .skills-input {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (max-width: 850px) {
    .text-about {
        font-size: 0.85rem;
    }
}

@media (max-width: 830px) {
    .img-square {
        right: 180px;
    }

    .saying {
        right: 215px;
    }

    .magic {
        width: 400px;
    }
}

@media (max-width: 780px) {
    .img-me {
        width: 180px;
        height: 250px;
    }

    .img-square {
        width: 180px;
        top: 1288px;
        right: 170px;
    }

    .saying {
        right: 198px;
        top: 1333px;
        font-size: 24px;
    }
}

@media (max-width: 728px) {
    .img-me {
        width: 160px;
        height: 230px;
    }

    .about-me-text {
        width: 55%;
    }

    .img-square {
        width: 160px;
        top: 1288px;
        right: 145px;
    }

    .saying {
        right: 170px;
        top: 1333px;
        font-size: 21px;
    }

    .skill-img-container {
        width: 75%;
    }

    .skills-container {
        height: 400px;
    }
}

@media (max-width: 728px) {
    .about-me-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .about-me-text {
        width: 95%;
    }

    .img-me {
        width: 220px;
        height: 250px;
    }

    .img-square {
        width: 180px;
        right: 260px;
        top: 1280px;
    }

    .saying {
        font-size: 24px;
        right: 290px;
        top: 1329px;
    }

    .btn {
        display: none;
    }
}

@media (max-width: 650px) {
    .text-about {
        margin-bottom: 40px; 
    }

    .img-me {
        width: 180px;
        height: 230px;
    }
}


@media (max-width: 635px) {
    .skill-img-container {

    img {
        width: 60px;
        height: 60px;
    }
}

.imgLink-html {
    width: 60px;
    height: 60px;
}
.imgLink-css {
    width: 60px;
    height: 60px;
}
.imgLink-js {
    width: 60px;
    height: 60px;
}
.imgLink-angular {
    width: 60px;
    height: 60px;
}
.imgLink-id {
    width: 60px;
    height: 60px;
}
.imgLink-ai {
    width: 60px;
    height: 60px;
}
.imgLink-ps {
    width: 60px;
    height: 60px;
}
}


@media (max-width: 580px) {
p{
    font-size: 11px;
}

.skill-img-container{
    width: 90%;
}
}

@media (max-width: 500px) {
    .img-me {
        width: 150px;
        height: 200px;
    }
    .skills-container {
        height: 350px;
    }
}

@media (max-width: 475px) {
    .text-about {
        font-size: 0.8rem;
    }
    .skill-img-container{
        img {
        width: 50px;
        height: 50px;
    }
}

.imgLink-html {
    width: 50px;
    height: 50px;
}
.imgLink-css {
    width: 50px;
    height: 50px;
}
.imgLink-js {
    width: 50px;
    height: 50px;
}
.imgLink-angular {
    width: 50px;
    height: 50px;
}
.imgLink-id {
    width: 50px;
    height: 50px;
}
.imgLink-ai {
    width: 50px;
    height: 50px;
}
.imgLink-ps {
    width: 50px;
    height: 50px;
}
}

@media (max-width: 430px) {
    .skill-img-container {
        width: 100%;
    }
}

@media (max-width: 380px) {
    .icon-bu {
        margin-right: 15px;
        margin-bottom: 10px;

        p{
            font-size: 9.5px; 
        }
    }

}