<div class="about-me-container">

<div class="about-me-text">
<h2>About me</h2>
<div class="text-about montserrat light-gray">
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing 
        elit. Aenean commodo ligula eget dolor. Aenean massa 
        <strong>strong</strong>. Cum sociis natoque penatibus 
        et magnis dis parturient montes, nascetur ridiculus 
        mus. Donec quam felis, ultricies nec, pellentesque 
        eu, pretium quis, sem. Nulla consequat massa quis 
        enim. Donec pede justo, fringilla vel, aliquet nec, 
        vulputate eget, arcu. In enim justo, rhoncus ut, 
        imperdiet a, venenatis vitae, justo. Nullam dictum 
        felis eu pede <a class="external ext" href="#">link</a> 
        mollis pretium. Integer tincidunt. Cras dapibus. 
        Vivamus elementum semper nisi. Aenean vulputate 
        eleifend tellus. Aenean leo ligula, porttitor eu, 
        consequat vitae, eleifend ac, enim. Aliquam lorem ante, 
        dapibus in, viverra quis, feugiat a, tellus. Phasellus 
        viverra nulla ut metus varius laoreet. Quisque rutrum. 
        Aenean imperdiet. Etiam ultricies nisi vel augue. 
        Curabitur ullamcorper ultricies nisi.</p>
</div>
</div>

<img class="img-me" src="assets/img/DSC08000 (2).jpg">

</div>


<img class="img-square absolute" src="assets/img/square-yellow.png">

<div class="saying yellow absolute">FROM <br>CMYK  <br>
    TO RGB</div>


    <div class="saying-magic-container glowing">
        <span style="--i:1;"></span>
        <h3 class="yellow">the magic is always in the details</h3>

    </div>

    <img class="arrow" src="assets/img/arrow-down.png">