.about-me-container {
    display: flex;
    margin-left: 70px;
    margin-right: 70px;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px; 
}

.text-about {
    font-size: 16px;
}

.about-me-text {
    width: 50%;
}

.img-me {
    width: 220px;
    height: 300px;
    object-fit: cover;
}

.img-square {
    width: 230px;
    top: 740px;
    right: 180px;
}

.saying {
    font-size: 30px;
    top: 800px;
    right: 226px;
    font-family: "Prata", serif;
    font-weight: bold; 
    transition: 0.5s;
    letter-spacing: 3px;

    &:hover  {
        color: #fffc87;
        text-shadow: 0 0 10px #fffc87, 0 0 40px #fffc87, 0 0 80px #fffc87;
    }
}

.saying-magic-container {
    margin-top: 160px; 
    margin-bottom: 160px; 
    margin-left: 70px;
    margin-right: 70px;
    text-align: center; 
}



h3 {
    font-size: 2.6rem; 
}

.arrow-container {
    justify-content: center;
}