.body {
    scroll-behavior: smooth;
}

.about-me-container {
    display: flex;
    margin-left: 70px;
    margin-right: 120px;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.text-about {
    font-size: 0.9rem;
    margin-bottom: 75px;
    
p {
    line-height: 1.2rem; 
}
}

.about-me-text {
    width: 50%;
}

.img-me {
    width: 220px;
    height: 300px;
    object-fit: cover;
}

.img-square {
    width: 230px;
    top: 810px;
    right: 180px;
}