<div id="about-me" class="about-me-container">

    <div class="about-me-text">
        <h2>About me</h2>
        <div class="text-about montserrat light-gray">
           I´m a Front-End Developer and Media Designer based in Bavaria, Germany.
           My journey started when i was a young girl and wanted to spread out my creativity by editing pictures of me and my friens or created posteres with semi professional graphic programs.
           It was clear to me quite early that i wanted to design professionally, be creative and produce beautiful and lasting things. 
           After almost 8 years of being a Media Designer for every kind of print medias i decided to bring this passion to the next level.
           I love to create stuff, where i can unite my love to good design with smart solution, so i startet to learn coding in Oktober 2020 by an professional Front-End Developement school.
           Here i learned.......
<br>
<br>

           The best compensation for the work on the screen is to go for long walks with my lovely dog "Baju".
           It´s like a restart for my brain and my creativity.

        </div>


        <a routerLink="/contact" #btn class="btn montserrat">Contact me</a>
    </div>

    <img class="img-me" src="assets/img/DSC08000 (2).jpg">

</div>


<img class="img-square absolute" src="assets/img/square-yellow.png">

<div class="saying yellow absolute">FROM <br>CMYK <br>
    TO RGB</div>


<div class="skills-container">
    <div class="skills-input">

        <h2>My Skills</h2>
        <div class="skill-img-container d-flex">

            <div class="icon-bu">
                <a class="imgLink-html"> <img src="assets/img/HTML-rot.png" alt="Bild"></a>
                <p class="montserrat">HTML</p>
            </div>

            <div class="icon-bu">
                <a class="imgLink-css"><img src="assets/img/CSS-rot.png" alt="Bild"></a>
                <p class="montserrat">CSS</p>
            </div>

            <div class="icon-bu">
                <a class="imgLink-js"><img src="assets/img/JavaScript-rot.png" alt="Bild"></a>
                <p class="montserrat">JavaScript</p>
            </div>

            <div class="icon-bu">
                <a class="imgLink-angular"><img src="assets/img/angular-rot.png" alt="Bild"></a>
                <p class="montserrat">Angular</p>
            </div>

            <div class="icon-bu">
                <a class="imgLink-id"><img src="assets/img/InDesign-rot.png" alt="Bild"></a>
                <p class="montserrat">InDesign</p>
            </div>

            <div class="icon-bu">
                <a class="imgLink-ps"><img src="assets/img/Photoshop-rot.png" alt="Bild"></a>
                <p class="montserrat">Photoshop</p>
            </div>

            <div class="icon-bu">
                <a class="imgLink-ai"><img src="assets/img/Illustrator-rot.png" alt="Bild"></a>
                <p class="montserrat">Illustrator</p>
            </div>

        </div>

    </div>
</div>

<div class="arrow-container d-flex">
    <a href="#portfolio"><img class="arrow arrow-animation " src="assets/img/arrow-down.png"></a>
</div>