<div class="contact d-flex">
        <div class="contact-font light-gray">
            <div class="d-flex">
           <div class="yellow"> Say </div>
            <div *ngIf="showText" style="margin-left: 25px" class="yellow greeting"> {{greetings[currentText]}} <br> </div>
        </div>
            don´t be shy
        </div>

        <form action="http://localhost:4200/contact/send_mail.php" method="POST" class="slide-animation">
            <input name="name" type="text" class="feedback-input montserrat" placeholder="Name" />
            <input name="email" type="text" class="feedback-input montserrat" placeholder="Email" />
            <textarea name="text" class="feedback-input montserrat" placeholder="Your message"></textarea>
            <input type="submit" value="Submit" />
        </form>


</div>