.contact {
    flex-direction: column;
    align-items: center;
    margin-top: 60px; 
    width: 100%;
}

.contact-font {
    font-size: 5.6rem;
    font-family: "Prata", serif;
    letter-spacing: 4px;

}

form {
    width: 50%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback-input {
    color: #e3e9ec;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #fdfbc9;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {
    border: 2px solid #fffc87;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"] {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    width: 40%;
    background: #ff665a;
    border: 0;
    cursor: pointer;
    color: #e3e9ec;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.4s;
    margin-top: 25px;
    margin-bottom: 35px;
    font-weight: 700;

    &:hover {
        background: #cc4949;
    }
}


/* The snackbar - position it at the bottom and in the middle of the screen */

.snackbar {
  visibility: hidden; //muss unbedingt wieder hinzugefügt werden wegen JS!!!
    background-color: #ff665a;
    color: #e3e9ec;
    font-size: 1.6rem; 
    font-weight: bolder;
    text-align: center;
    padding: 40px;
    width: 45%;
    position: fixed;
    z-index: 1;
    bottom: 150px;
    font-family: "Montserrat", sans-serif;

    /* Show the snackbar when clicking on a button (class added with JavaScript) */
.show {
    visibility: visible;
    /* -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s; */
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
}

/* Animations to fade the snackbar in and out */


@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 150px;
        opacity: 1;
    }
}


@keyframes fadeout {
    from {
        bottom: 150px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}
