.contact {
    flex-direction: column;
    align-items: center;
    margin-top: 60px; 
    width: 100%;
}

.contact-font {
    font-size: 5.6rem;
    font-family: "Prata", serif;
    letter-spacing: 4px;

}

form {
    width: 50%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback-input {
    color: #e3e9ec;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #fdfbc9;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {
    border: 2px solid #fffc87;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"] {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    width: 40%;
    background: #ff665a;
    border: 0;
    cursor: pointer;
    color: #e3e9ec;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.4s;
    margin-top: 25px;
    margin-bottom: 35px;
    font-weight: 700;

    &:hover {
        background: #cc4949;
    }
}
