<div class="contact d-flex">
        <div class="contact-font light-gray">
            <div class="d-flex">
           <div class="yellow"> Say </div>
            <div *ngIf="showText" style="margin-left: 25px" class="yellow greeting"> {{greetings[currentText]}} <br> </div>
        </div>
            don´t be shy
        </div>

        <form [formGroup]="profileForm" (ngSubmit)="submit ()" class="slide-animation">
            <input formControlName="name" type="text" class="feedback-input montserrat" placeholder="Name*" required/>
            <input formControlName="email" type="text" class="feedback-input montserrat" placeholder="Email*" required/>
            <textarea formControlName="message" type="text" class="feedback-input montserrat" placeholder="Your message*" required></textarea>
           <button (click)="openSnackbar()" type="submit" [disabled]="!profileForm.valid">Submit </button>
        </form>

        <div class="snackbar" id="snackbar">Thanks for your message</div>


</div>
