<header>
    <div id="menu" class="header-container montserrat">
        <a href="http://yvonne-gamboeck.developerakademie.com/yvonne-gamboeck"><img class="menu-logo" style="margin-left: 0px !important" src="assets/img/Logo_yvonneG.png"></a>
        <div class="menu-links">
            <a href="http://yvonne-gamboeck.developerakademie.com/yvonne-gamboeck/#about-me">About me</a>
            <a href="http://yvonne-gamboeck.developerakademie.com/yvonne-gamboeck/#portfolio">Projects</a>
            <a routerLink="/contact">Contact</a>
        </div>
    </div>
</header>
