header {
    color: #e3e9ec;
    width: 100%;
    background-color: #00333d;
    position: fixed;
    z-index: 40;
    top: 0;

    a {
        color:  #e3e9ec;
        text-decoration: none;
        justify-content: space-between;
        transition: all 0.8s;
        margin-right: 8px;
        margin-left: 8px;

        &:hover {
            color: #fffc87;
        }
    }
}

.header-container {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        width: 50px;
    }
}

@media (max-width: 1400px) {

    .header-container {
        margin-left: 10%;
        margin-right: 10%;
}
}

@media (max-width: 430px) {
header {
    font-size: 14px; 
}
}

@media (max-width: 370px) {
    .header-container {
    flex-direction: column;

    img {
        width: 35px; 
        margin-bottom: 10px;
    }
}



}