header {
    color: #e3e9ec;
    width: 100%;
    background-color: #00333d;
    position: fixed;
    z-index: 40;
    top: 0;

    a {
        color:  #fffc87;
        text-decoration: none;
        justify-content: space-between;
        transition: all 0.8s;
        margin-right: 8px;
        margin-left: 8px;

        &:hover {
            color: #e3e9ec;
        }
    }
}

.header-container {
    padding: 15px;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        width: 50px;
    }
}