<div class="skills-container">

    <h2>My Skills</h2>
    <div class="skill-img-container d-flex">
        <div>
            <a class="imgLink-angular"><img src="assets/img/angular-rot.png" alt="Bild"></a>
            <p class="montserrat">Angular</p>
        </div>

        <a class="imgLink-js"><img src="assets/img/JavaScript-rot.png" alt="Bild"></a>
        <a class="imgLink-css"><img src="assets/img/CSS-rot.png" alt="Bild"></a>
        <a class="imgLink-html"> <img src="assets/img/HTML-rot.png" alt="Bild"></a> <br>
        <a class="imgLink-id"><img src="assets/img/InDesign-rot.png" alt="Bild"></a>
        <a class="imgLink-ps"><img src="assets/img/Photoshop-rot.png" alt="Bild"></a>
        <a class="imgLink-ai"><img src="assets/img/Illustrator-rot.png" alt="Bild"></a>
    </div>

</div>