<div id="portfolio" class="portfolio-container">

<h2>Projects</h2>

<div class="portfolio-boxes d-flex">

    <div class="project-box d-flex"> 
        <img src="assets/img/projects/startscreen.png">
      <a href="#" class="btn-project montserrat">Check it out</a> 
    </div>

    <div class="project-box d-flex"> 
        <img src="assets/img/code-4333398_1280.jpg">
        <a href="#" class="btn-project montserrat">Check it out</a>
    </div>

    <div class="project-box"> 
    </div>

    <div class="project-box"> 
    </div>

    <div class="project-box"> 
    </div>

    <div class="project-box"> 
    </div>


</div>

<div class="saying-magic-container">
    <h3 class="yellow">the magic is always in the details</h3>

</div>

</div>

