.portfolio-container {
    margin-left: 70px;
    margin-right: 70px; 
}


.portfolio-boxes {
flex-wrap: wrap;

}


.project-box {
background-color: white;
height: 240px;
width: 300px;
margin-right: 20px; 
margin-top: 20px; 
}