.body {
    width: 100vw;
}

.portfolio-container {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 40px;
}

.portfolio-boxes {
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-box {
    background-color: grey;
    width: 31%;
    margin-right: 20px;
    margin-top: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.btn-project {
    text-decoration: none;
    padding: 14px 24px;
    background-color: #ff665a;
    color: #e3e9ec;
    font-weight: bolder;
    font-size: 14px;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    margin-top: 190px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;

    &:hover {
        background: #cc4949;
    }
}

.saying-magic {
    font-size: 30px;
    top: 875px;
    right: 226px;
    font-family: "Prata", serif;
    font-weight: bold;
    transition: 0.5s;
    letter-spacing: 3px;
    color: #fffc87;
    animation: lightning 3s infinite;
}

@keyframes lightning {
    from {
        text-shadow: none;
    }

    to {
        text-shadow: 0 0 10px #fffc87, 0 0 40px #fffc87, 0 0 80px #fffc87;
    }
}

.imgLink-elPollo {
    background-image: url("../../assets/img/projects/devices-mockup-monitor_el-pollo.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    a {
        animation: 15s ease-in;
    }

    &:hover {
        img {
            display: none;
        }
    }
}

.imgLink-Join {
    background-image: url("../../assets/img/projects/devices-mockup-monitor_el-pollo.png");
    background-size: cover;
    width: 100%;
    height: 100%;

    &:hover {
        img {
            display: none;
        }
    }
}

.saying-magic-container {
    margin-top: 80px;
    margin-bottom: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
h3 {
    font-size: 3rem;
    align-items: center;
    -webkit-text-stroke: 0.5px #003e4a;
}

.magic {
    position: absolute;
}

//Sparkle Effects

section {
    position: relative;
    margin-left: 0px !important;
    width: 100%;
    height: 400px;
    display: flex;

    .star {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        min-height: 400px;
        pointer-events: none;
    }
}

.star1 {
    background: url("../../assets/img/magic/star1.png");
    animation: sparkleStars 3s ease-in-out infinite;
}

.star2 {
    background: url("../../assets/img/magic/star2.png");
    animation: sparkleStars 4s ease-in-out infinite;
}

.star3 {
    background: url("../../assets/img/magic/star3.png");
    animation: sparkleStars 5s ease-in-out infinite;
}

.star4 {
    background: url("../../assets/img/magic/star4.png");
    animation: sparkleStars 6s ease-in-out infinite;
}

.star5 {
    background: url("../../assets/img/magic/star5.png");
    animation: sparkleStars 7s ease-in-out infinite;
}

.star6 {
    background: url("../../assets/img/magic/star6.png");
    animation: sparkleStars 8s ease-in-out infinite;
}

@keyframes sparkleStars {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
}

@keyframes backgroundmove {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scal(1);
    }
}

//Responsive

@media (max-width: 1400px) {
    .portfolio-container {
        margin-left: 10%;
        margin-right: 10%;
    }

    .btn-project {
        margin-top: 165px;
    }
}

@media (max-width: 1105px) {
    .btn-project {
        margin-top: 140px;
    }
}

@media (max-width: 1090px) {
    .project-box {
        width: 45%;
    }
    .btn-project {
        margin-top: 220px;
    }
}

@media (max-width: 1000px) {
    .btn-project {
        margin-top: 200px;
    }
}

@media (max-width: 930px) {
    .btn-project {
        margin-top: 180px;
    }
}
