<div id="portfolio" class="portfolio-container"> <!-- [class.slide-animation]="isInViewPort" -->

<h2 style="margin-bottom: 10px">Projects</h2>

<div class="portfolio-boxes d-flex">

    <div class="project-box d-flex"> 
        <a class="imgLink-elPollo"><img src="assets/img/projects/Startscreen.PNG"></a>
      <a href="http://yvonne-gamboeck.developerakademie.com/El-Pollo-Loco/" target="_blank" class="btn-project montserrat">Check it out</a> 
    </div>

    <div class="project-box d-flex"> 
        <a class="imgLink-Join"> <img src="assets/img/projects/Join.PNG"></a>
        <a href="http://yvonne-gamboeck.developerakademie.com/Join/" target="_blank" class="btn-project montserrat">Check it out</a>
    </div>

    <div class="project-box d-flex"> 
        <a class="imgLink-RingofFire"> <img src="assets/img/projects/RingOfFire-Screen.png"></a>
        <a href="http://yvonne-gamboeck.developerakademie.com/Join/" target="_blank" class="btn-project montserrat">Check it out</a>
    </div>

    <div class="project-box d-flex"> 
        <a class="imgLink-Join">  <img src="assets/img/projects/Kochwelt-Screen.PNG"></a>
        <a href="http://yvonne-gamboeck.developerakademie.com/Kochwelt-main/" target="_blank" class="btn-project montserrat">Check it out</a>
    </div>

    <div class="project-box d-flex"> 
        <a class="imgLink-Join">  <img src="assets/img/projects/Liefert-Screen.PNG"></a>
        <a href="http://yvonne-gamboeck.developerakademie.com/Lieferando%20Seite/" target="_blank" class="btn-project montserrat">Check it out</a>
    </div>

    <div class="project-box"> 
    </div>


</div>
</div>

<div class="saying-magic-container d-flex">
    <h3 class="yellow magic slide-animation">the magic is always in the details</h3>

    <section>
        <div class="star star1"></div>
        <div class="star star2"></div>
        <div class="star star3"></div>
        <div class="star star4"></div>
        <div class="star star5"></div>
        <div class="star star6"></div>
    </section>
</div>


