.portfolio-container {
    margin-left: 70px;
    margin-right: 120px;
    margin-top: 40px;
}

.portfolio-boxes {
    flex-wrap:wrap;
}

.project-box {
    background-color: grey;
    height: 240px;
    width: 30%;
    margin-right: 20px;
    margin-top: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.saying-magic-container {
    margin-top: 160px;
    margin-bottom: 160px;
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
}
h3 {
    font-size: 2.6rem;
}

.btn-project {
    text-decoration: none;
    padding: 14px 24px;
    background-color: #ff665a;
    color: #e3e9ec;
    font-weight: bolder;
    font-size: 14px;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    margin-top: 160px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;

    &:hover {
        background: #cc4949;
    }
}


.saying-magic {
    font-size: 30px;
    top: 875px;
    right: 226px;
    font-family: "Prata", serif;
    font-weight: bold;
    transition: 0.5s;
    letter-spacing: 3px;
    color: #fffc87;
    animation: lightning 3s infinite;
}


@keyframes lightning{
    from {
        text-shadow: none;
    }

    to {
        text-shadow: 0 0 10px #fffc87, 0 0 40px #fffc87, 0 0 80px #fffc87;
    }
}


.imgLink-elPollo {
    background-image: url('/assets/img/projects/devices-mockup.png');
    background-size: contain;
    width: 100%;
    height: 100%;
    a {
        animation: 15s ease-in;
    }

     &:hover {
        img {
            display: none; 
        }
    } 
}


.imgLink-Join {
    background-image: url('/assets/img/projects/devices-mockup.png');
    background-size: contain;
    width: 100%;
    height: 100%;

     &:hover {
        img {
            display: none; 
        }
    } 
}