.imprint {
    margin-bottom: 40px;
    flex-direction: column;
    text-align: center;

    a {
        text-decoration: none;
        color: #e3e9ec;

        &:hover {
            color: #fffc87;
        }
    }
}

h1 {
    margin-top: 140px;
}

h3 {
    font-family: "Prata", serif;
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 15px;
}
