.data-protection {
    margin-left: 70px;
    margin-right: 120px;
    margin-bottom: 40px; 
    margin-top: 140px;

    a {
        text-decoration: none;
        color: #fffc87;
    }
}

p {
    font-size: 0.9rem; 
    line-height: 1.3rem; 
}

li {
    font-size: 0.9rem; 
    line-height: 1.3rem; 
}

h4 {
    margin-top: 30px; 
}


@media (max-width: 1400px) {

    .data-protection {
        margin-left: 10%;
        margin-right: 10%;
}
}

@media (max-width: 1000px) {
    p {
        font-size: 13px;
        word-wrap: break-word; 
    }
    li {
        font-size: 13px;
    }

    h2 {
        font-size: 2rem;
    }
}

@media (max-width: 500px) {
    h2 {
        font-size: 1.6rem;
        word-wrap: break-word; 
    } 
}