body {
    color: #e3e9ec;
    padding-left: 40px;
    width: 100vw;
}

.startscreen {
    margin-left: 15%;
    margin-right: 15%;
    flex-direction: column;
    height: 100vh;
/*     background-image: url("../../assets/img/ziegel.jpg");
    filter: grayscale(1); */
}

.startscreen-main {
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.startscreen-font {
    font-family: "Prata", serif;
    font-size: 140px;
    margin-top: -120px;
}

.job-designation {
    font-size: 32px;
    margin-top: 30px;
    font-weight: 100;
}

.startscreen-logo {
    width: 330px;
    margin-top: -120px;
}

span {
    transition: 0.5s;
}

:hover span {
    color: #e3e9ec;
    text-shadow: 0 0 10px #e3e9ec, 0 0 40px #e3e9ec, 0 0 80px #e3e9ec;
}

//Responsive

@media (max-width: 1600px) {
    .startscreen-logo {
        width: 290px;
    }
    .startscreen-font {
        font-size: 120px;
    }
}

@media (max-width: 1450px) {
    .startscreen {
        margin-left: 10% !important;
        margin-right: 10% !important;
    }

    .startscreen-font {
        font-size: 98px;
        margin-top: 0px;
    }

    .startscreen-logo {
        margin-top: 0px;
        width: 260px;
    }

    .job-designation {
        font-size: 26px;
    }
}

@media (max-width: 1200px) {
    .startscreen-font {
        font-size: 96px;
    }

    .img-square {
        top: 1200px;
    }

    .saying {
        top: 1200px;
    }
}

@media (max-width: 1105px) {
    .startscreen-font {
        font-size: 94px;
    }

    .startscreen-logo {
        width: 320px;
    }
}

@media (max-width: 1095px) {
    .startscreen-logo {
        width: 220px;
    }
}

@media (max-width: 930px) {
    .startscreen-logo {
        width: 260px;
    }
}

@media (max-width: 876px) {
    .job-designation {
        width: 54%;
    }
}

@media (max-width: 850px) {
    .job-designation {
        width: 60%;
    }
}

@media (max-width: 808px) {
    .job-designation {
        width: 70%;
    }

    .startscreen-logo {
        width: 240px;
    }
}

@media (max-width: 808px) {
    .img-square {
        right: 160px;
    }
}

@media (max-width: 780px) {
    .startscreen-font {
        font-size: 90px;
    }

    .job-designation {
        font-size: 24px;
    }
}

@media (max-width: 728px) {
    .startscreen-font {
        font-size: 85px;
    }

    .startscreen-logo {
        width: 220px;
    }
    .job-designation {
        font-size: 22px;
    }
}

@media (max-width: 728px) {
    .startscreen-font {
        font-size: 82px;
    }
    .startscreen-logo {
        width: 200px;
    }
}

@media (max-width: 650px) {
    .startscreen {
        margin-left: 8% !important;
        margin-right: 8% !important;
    }

    .startscreen-logo {
        width: 180px;
    }
}

@media (max-width: 605px) {
    .startscreen-font {
        font-size: 75px;
    }

    .startscreen-logo {
        width: 130px;
    }

    .btn-project {
        margin-top: 115px !important;
        font-size: 12px !important;
        padding: 11px !important;
    }

}

@media (max-width: 500px) {
    .startscreen-main {
        flex-direction: column;
        align-items: flex-start;
    }

    .startscreen-font {
        transform: translateY(180px);
        width: 95%;
        font-size: 85px;
    }

    .job-designation {
        width: 60%;
        font-size: 22px;
        margin-top: 10px;
    }
    .startscreen-logo {
        display: none; 
    }
}


@media (max-width: 420px) {
    .startscreen-font {
        font-size: 80px;
        width: 70%;
    }
}

@media (max-width: 400px) {
    .job-designation {
        width: 90%;
    }
    .startscreen-logo {
        transform: translateY(-140px);
    }
}

@media (max-width: 370px) {
    .startscreen-font {
        font-size: 70px;
    }

    .job-designation {
        font-size: 20px; 
    }

    .startscreen-logo {
        transform: translateY(-180px);
    }

    .arrow {
        width: 40px;
    }
}

@media (max-width: 350px) {
   .job-designation {
        width: 100%;
    }

    .arrow {
        width: 40px;
        margin-top: 100px;
    }
}

