<div id="startscreen" class="startscreen d-flex">
  <div class="startscreen-main d-flex">
    <div class="startscreen-font light-gray">
      <div *ngIf="showText" class="yellow greeting"> {{greetings[currentText]}} <br> </div>
      I&prime;m <span>Yvonne </span>
      <div class="job-designation light-gray montserrat">Web Developer & Media Designer</div>
    </div>

    <img class="startscreen-logo" src="assets/img/Logo_yvonneG.png">
  </div>
  <div class="arrow-container d-flex" style="margin-top: -180px">
    <a href="#aboutMe"><img class="arrow arrow-animation arrow-startscreen" src="assets/img/arrow-down.png"></a> 
  </div>
</div>



<app-about-me></app-about-me>
<app-skills></app-skills>
<app-portfolio></app-portfolio>