
<div class="startscreen d-flex">
    <div class="startscreen-main d-flex">
<div class="startscreen-font light-gray">
  <div *ngIf="showText" class="yellow greeting">  {{greetings[currentText]}} <br> </div> 
  I´m <span>Yvonne </span>
    <div class="job-designation light-gray montserrat">Web Deleloper & Media Designer</div>
</div>

    <img class="startscreen-logo" src="assets/img/logo-vorab.png">
</div>
  <a href="#about-me"> <img class="arrow" src="assets/img/arrow-down.png"></a> 
</div>




