body {
margin: 0;
    background-color: #003e4a; 
    scroll-behavior: smooth;
}

///////////////////////////
//GLOBAL STYLES//
///////////////////////////


h2 {
    color: #fffc87;
    font-size: 2rem;
    margin-top: 30px; 
    letter-spacing: 2px;
}

//Main colors:

.yellow {
    color: #fffc87;
}

.light-gray {
    color: #e3e9ec;
}

.red {
    color: #ff665a; 
}

//Font:

.montserrat {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100; 
}

//Arrengment:

.d-flex {
    display: flex;
}

.d-none {
display: none;
}

.absolute {
    position: absolute; 
}

//Objects:

.arrow {
    width: 60px; 
    margin-top: 40px; 
    cursor: pointer;
}



.btn {
    text-decoration: none;
    padding: 16px 24px;
    background-color: #ff6654;
    color: #e3e9ec;
    font-weight: bolder;
    font-size: 16px;
    overflow: hidden;
    position: relative; 
    z-index: 1;
}


.btn::before {
    content: "";
    position: absolute;
    left: var(--x);
    top: var(--y);
    transform: translate(-50%, -50%);
    background-image: radial-gradient(circle closet-side, #ff665a, transparent);
    width: 0; height: 0;
    transition: width 0.3 ease, height 0.3 ease;
    z-index: -1;
}

.btn:hover::before {
    width: 250px;
    height: 250px; 
}